<% @projects.each do |p| %>
    <p><% p %></p>
<% end %>


<div style="margin:15px;padding:15px;">

<h1>Tasks for today</h1>


<% @tasks.each do |a| %>
  <div style="margin:15px;padding:15px;background-color:<%= a["color"] %>;"><b><%= a["project_name"] %></b> | <%= a["content"] %>

  <div style="float:right;width:50px;"><%= link_to 'done', :action => 'done', :id => a["id"], :token => @token %></div>

  <div style="float:right;width:140px;">&nbsp;
    <% unless a["date_string"].include?("every") %>
      <%= link_to 'snooze', :action => 'snooze', :id => a["id"], :token => @token %>&nbsp;
      <%= link_to 'skip', :action => 'skip', :id => a["id"], :token => @token %>
    <% end %>
  </div>
  

</div>

<% end %>


<div><%= link_to 'get some', :action => 'tasks', :token => @token, :get_more => 't' %></div>



</div>